---
const whatsappHref =
  'https://wa.me/5511947966982?text=Ol%C3%A1,%20estou%20no%20site%20da%20Faculdade%20Paulista%20e%20quero%20atendimento%20pelo%20WhatsApp.'
---

<a
  href={whatsappHref}
  class="floating-whatsapp"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Atendimento pelo WhatsApp"
>
  <span class="floating-whatsapp__icon" aria-hidden="true">
    <svg viewBox="0 0 24 24" fill="none">
      <path
        fill="currentColor"
        d="M19.211 4.784A9.664 9.664 0 0 0 12.338 2C7.01 2 2.67 6.335 2.668 11.663A9.61 9.61 0 0 0 3.973 16.5L2 22l5.651-1.926a9.64 9.64 0 0 0 4.683 1.2h.004c5.327 0 9.666-4.336 9.668-9.664A9.605 9.605 0 0 0 19.21 4.784Zm-6.873 14.86h-.003a7.98 7.98 0 0 1-4.072-1.115l-.291-.173-3.354 1.143 1.095-3.27-.19-.303a7.987 7.987 0 0 1-1.232-4.262c.002-4.431 3.608-8.035 8.048-8.035a7.98 7.98 0 0 1 5.693 2.354 7.935 7.935 0 0 1 2.353 5.69c-.002 4.432-3.61 8.036-8.047 8.036Zm4.412-6.024c-.241-.12-1.426-.703-1.647-.782-.22-.08-.38-.12-.541.12-.161.241-.621.782-.762.942-.14.161-.28.18-.522.06-.24-.12-1.015-.374-1.934-1.192-.714-.636-1.197-1.42-1.337-1.66-.141-.24-.015-.37.105-.49.108-.108.241-.281.361-.422.12-.14.161-.24.241-.402.08-.16.04-.301-.02-.421-.06-.12-.541-1.304-.742-1.786-.196-.469-.395-.405-.541-.413l-.461-.008c-.161 0-.421.06-.642.301s-.842.822-.842 2.004.862 2.325.982 2.486c.12.161 1.695 2.587 4.107 3.627.574.248 1.021.396 1.37.507.576.184 1.1.158 1.515.096.462-.069 1.426-.582 1.627-1.145.2-.562.2-1.044.14-1.145-.06-.1-.221-.16-.462-.281Z"
      />
    </svg>
  </span>
</a>
